<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Ajouter une Mouvement</h1>

<form th:action="@{/mouvements/ajouter}" th:object="${Mouvement}"  method="Post">
    <div>
        <label>Type :</label>
        <select th:field="*{type}" >
            <option th:value = "Entree">Entrée</option>
            <option th:value = "Sortie">Sortie</option>
        </select>
    </div>
    <div>
        <label>Produit :</label>
        <select th:field="*{produit}">
        <option value="">---</option>
        <option th:each = "p : ${Produits}"
        th:value="${p.id}"
        th:text = "${p.designation}">

        </option>

        </select>
    </div>
    <div>
        <label>Quantite :</label>
        <input type="number"  th:field="*{quanity}">
    </div>
    <div>
        <label>Date :</label>
        <input type="date" th:field="*{date}">
    </div>
    <button type="submit">Enregistrer</button>
</form>

<br>
<a th:href="@{/mouvements}">Annuler et retourner à la liste</a>

</body>
</html>