<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Modifier un Produit</h1>

<form th:action="@{/produits/update}" th:object="${Produit}"  method="PUT">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Désignation :</label>
        <input type="text" th:field="*{designation}" value="">
    </div>
    <div>
        <label>Catégorie :</label>
        <select th:field="*{categorie}">
            <option value="Électronique">Électronique</option>
            <option value="Alimentation">Alimentation</option>
            <option value="Vêtements">Vêtements</option>
            <option value="Maison">Maison</option>
            <option value="Beauté">Beauté</option>
        </select>
    </div>
    <div>
        <label>Prix :</label>
        <input type="number"  th:field="*{prix}">
    </div>
    <div>
        <label>Stock :</label>
        <input type="number" th:field="*{stock}">
    </div>
    <div>
        <label>Fournisseur :</label>
        <select th:field = "*{fournisseur}">
            <option value="">---</option>
            <option  th:each = "f : ${Fournisseurs}"
                     th:value ="${f.id}"
                     th:text = "${f.name}">
            </option>
        </select>
    </div>

    <button type="submit">Enregistrer les modifications</button>
</form>

<br>
<a th:href="@{/produits}">Annuler et retourner à la liste</a>

</body>
</html>